*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: lightgray;
}
/* the header */
header{
    padding: 40px;
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: center;
}
/* the first container */
.firstcontainer{
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.firstp{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.secondp{
    padding: 15px;
}

/* second container */
.secondcontainer{
    background-color: white;
    margin-left: 55px;
    padding: 30px;
    width: 89.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdp{
    margin-bottom: 20px;
}

/* third container */
.thirdcontainer{
    padding: 0px;
    background-color: white;
    margin: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.fifthp{
    margin-bottom: 20px;
}

/* the fourthcontainer */
.fourthcontainer{
    border: solid 2px black;
    background-color: white;
    padding: 30px;
    margin: 20px;
}
.seventhp{
    margin-bottom: 10px;
}
/* fifth container */
.fifthcontainer{
    background-color: white;
    margin: 20px;
    height: 20vh;
}
.teenthp{
   padding-top: 20px;
}
.ninthp{
   padding-top: 20px;
}

/* sixth container */
.sixthcontainer{
background-color: white;
display: flex;
width: 350px;
flex-direction: column;
margin-left: 450px;
height: 20vh;
}

.eleventhp{
    margin-top: 30px;

}
.p12{
    margin-top: 30px;

}
/* seventh container */
.seventhcontainer{
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.p13:hover{
    color: red;
}

/* eighth container */
.eighthcontainer{
    background-color: white;
    margin: 20px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.p14{
    text-align: right;
    margin-top: 20px;
}
.p15{
    text-align: right;
    margin-bottom: 10px;
}
/* ninthc container */
.ninthcontainer{
    background-color: white;
    margin-left: 50px;
    padding-left: 20px;
    height: 85px;
    width: 93%;
}
.p16{
   padding-top: 20px;
}
.p17{
   margin-top: 20px; 
}
/* teenth container */
.teenthcontainer{
    max-width:400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    height: 95px;
    margin-left: 440px;
}
.p19{
    margin-top: 20px;
}

/* the last container */
.lastcontainer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}